* {
    box-sizing: border-box;
    font-family: sans-serif serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.row {
    width: 100%;
  }

/********** Large Devices **********/
@media (min-width: 992px) {
    .col-lg4 {
        width: 33.33%;
        float: left;
    }
 } 
/********** Meduim Devices **********/
 @media (min-width: 768px) and (max-width: 991px) {
    .col-md6 {
        width: 50%;
        float: left;
    }
    .col-md12 {
        width: 100%;
        float: left;
    }
 } 
/********** Small Devices **********/
 @media (max-width: 767px){
    .col-sm12 {
        width: 100%;
        float: left;
    }
 } 

p {
    font-size: 20px;
    position: relative;
    padding: 15px 5px 0px 5px;  
}

div {
    position: relative;
}

.section {
    background-color: grey;
    border: 1px solid black;
    padding-left: 10px;
    margin: 20px;
    position: relative;
}

span {
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    float: right;
    font-weight: bold;
}

.head1 {
    color: black;
    background-color: pink;
}

.head2 {
    color: white;
    background-color: red;
}

.head3 {
    color: black;
    background-color: yellow;
}